@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");

body {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0%;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0%;
}

h2 {
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0%;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
}

#outro {
  height: 1000px;
}

footer {
  background-color: #69a5d5;
  color: white;
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0%;
}

/* intro css */
#intro {
  width: 100%;
  background-color: #2f8dd9;
  background: linear-gradient(
    160deg,
    #2f8dd9 0%,
    #61b2f5 25%,
    #2f8dd9 50%,
    #61b2f5 75%,
    #2f8dd9 100%
  );
  margin-bottom: 2rem;
}

#intro #scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#intro #scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#intro article {
  position: relative;
  padding: 0 1rem;
}

#intro .sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 19%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro .step {
  margin: 0 auto 2rem auto;
  height: 500px;
}

#intro .step img {
  height: 500px;
  translate: 150px;
}

#intro .step:last-child {
  margin-bottom: 0;
}

/* section 1 */

#sect1 p {
  color: #8a8a8a;
}

.penguinHappy {
  display: grid;
  grid-template-columns: repeat(8 1fr);
  grid-template-rows: 1fr;
  width: 25%;
  translate: 250px 10px;
}

#wingL {
  animation: rotate-wingL ease-in forwards;
  animation-timeline: view();
  width: 320px;
  grid-column: 1 / span 4;
  grid-row: 1;
  translate: 50px 110px;
}
#imgBody2 {
  height: 376px;
  grid-column: 3 / span 3;
  grid-row: 1;
}
#wingR {
  animation: rotate-wingR ease-in forwards;
  animation-timeline: view();
  width: 320px;
  grid-column: 4 / span 4;
  grid-row: 1;
  translate: -50px 110px;
}

@keyframes rotate-wingL {
  0% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

@keyframes rotate-wingR {
  0% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(-70deg);
  }
}

/* section 2 */
#sect2 {
  width: 100%;
  background-color: #2f8dd9;
}
#sect2 #scrolly {
  position: relative;
  padding: 1rem;
  background-color: #2f8dd9;
  background: linear-gradient(
    160deg,
    #2f8dd9 0%,
    #61b2f5 25%,
    #2f8dd9 50%,
    #61b2f5 75%,
    #2f8dd9 100%
  );
}

#sect2 article {
  position: relative;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

#sect2 .sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sect2 .sticky-thing img {
  font-weight: 900;
  color: #7fb8e7;
  height: 550px;
}

#sect2 .step {
  padding-top: 7rem;
  padding-bottom: 9rem;
  color: #fff;
}

#sect2 .step:last-child {
  margin-bottom: 500px;
}

#sect2 .step.is-active p {
  background-color: #5cb6ff;
}

#sect2 .step p {
  text-align: center;
  padding: 1rem;
}

/* section 3 */
#sect3 {
  margin-top: 3rem;
}

#sect3 p {
  background-color: #2f8dd9;
  max-width: 700px;
  margin: auto;
}

#foodCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}
#food {
  display: flex;
  flex-direction: column;
  background-color: #2f8dd9;
  padding: 1rem;
  border-radius: 1rem;
}

#food img {
  height: 400px;
}

#food p {
  padding-bottom: 3rem;
  margin: 0;
}

/* section 4 */
#sect4 {
  background-color: #2f8dd9;
  background: linear-gradient(
    160deg,
    #2f8dd9 0%,
    #61b2f5 25%,
    #2f8dd9 50%,
    #61b2f5 75%,
    #2f8dd9 100%
  );
  width: 100%;
  padding-bottom: 5rem;
}

#swimCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  max-width: 1400px;
  margin: 0 auto;
}

#penSwim {
  animation: swimming 10s infinite;
  width: 300px;
  grid-column: 1;
  grid-row: 1;
}

#krill1,
#krill2 {
  width: 700px;
  grid-row: 1;
  grid-column: 2;
}

#krill1 {
  animation: krill1 5s infinite;
}

#krill2 {
  animation: krill2 5s infinite;
}

@keyframes swimming {
  0% {
    transform: translate(0px);
  }
  40% {
    transform: translate(1100px, 300px);
  }
  60% {
    transform: translate(1100px, 0px) scaleX(-1);
  }
  80% {
    transform: translate(0px, 300px) scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes krill1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes krill2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#sect5 {
  background-color: #42a65a;
  animation: sect5Scroll ease-in;
  animation-timeline: view();
  width: 100%;
}

@keyframes sect5Scroll {
  0% {
    background-color: #fff;
  }
  70% {
    background-color: #42a65a;
    color: white;
  }
}

#sect5 article {
  position: relative;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

#sect5 .sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sect5 h1 {
  animation: sect5text ease-in;
  animation-timeline: view();
}

@keyframes sect5text {
  0% {
    color: #8a8a8a;
  }
  70% {
    color: white;
  }
}

#sect5 .step {
  height: 2000px;
}

#sect5 .step:last-child {
  margin-bottom: 0px;
}

/* section 6 */
#sect6 {
  width: 100%;
}

#sect6 #scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sect6 #scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#sect6 article {
  position: relative;
  padding: 0 1rem;
}

#sect6 .sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 19%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#earthFire {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
}

#earthFire img {
  height: 500px;
  grid-row: 1;
  grid-column: 1;
}

#earthFire2 {
  animation: fire2 ease-in;
  animation-timeline: view();
  z-index: 0;
}

@keyframes fire2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

#sect6 .step {
  margin: 0 auto 2rem auto;
  height: 500px;
  width: 75%;
  background-color: #42a65a;
  border-radius: 1rem;
}

/* #sect6 .step p {
} */

#sect6 .step:last-child {
  margin-bottom: 0;
}

.smokestackCont {
  display: grid;
  grid-template-rows: repeat(5 1fr);
  grid-template-columns: repeat(5 1fr);
}

#imgSmog {
  grid-row: 1 / span 3;
  grid-column: 1 / span 5;
  width: 1900px;
  animation: spin 20s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: translate(-100px);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    transform: translate(-100px);
  }
}

#imgSmokestack {
  grid-row: 3 / span 3;
  grid-column: 3 / span 2;
  width: 300px;
  translate: 0 60px;
}
